.catkin_workspace
.vscode
build/
devel/
src/models/lseg/modules/models/__pycache__/
src/models/lseg/additional_utils/__pycache__/
src/models/lseg/checkpoints/
src/vlmaps/scripts/__pycache__/
src/vlmaps/utils/__pycache__/
src/vlmaps/data/
src/vlmaps/bags/
src/vlmaps/video/
src/llm/text/landmarks_list.txt
src/llm/text/
src/llm/update_output/
src/llm/event_images/
src/llm/__pycache__/
src/llm/utils/__pycache__/
src/experiment/result
src/experiment/__pycache__/
src/environment/models/209/meshes/*.dae
src/environment/models/209/materials/textures/209_texture.png
src/environment/unitree/unitree_guide/unitree_actuator_sdk/unitree_motor_ctrl/script/__pycache__/