
<?xml version='1.0'?>
<model>
  <name>Exit sign</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Louise Poubel</name>
    <email>louise@openrobotics.org</email>
  </author>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Generated with mesh_to_sdf
    https://bitbucket.org/osrf/mesh_to_sdf
  </description>
</model>
    
